/* Reusable */
.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-thinnest {
    font-weight: 100;
}

.font-thinner {
    font-weight: 200;
}

.font-thin {
    font-weight: 300;
}

/* Specific Elements */
.navbar {
    transition: all .5s;
}

.navbar-transparent {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
}

.navbar-transparent a {
    color : #ddd;
}

.navbar-transparent .navbar-nav li.active a {
    border-bottom: solid 1px;
}

.navbar-transparent li a:hover {
    color : #fff;
    background-color : rgba(0,0,0,0);
}

#main-jumbotron {
    padding-top: 20%;
    height: 100vh;
    background-image: url('../img/in-filipino.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 0;
    border: none;
}

#main-jumbotron * {
    color: #fff;
}

section#introduction {
    background-image: url('../img/pre-footer-bg.jpeg');
    background-position: bottom right;
    background-size: 15%;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 200px;
}

footer#page-footer {
    background-color: #2c3e50;
    margin-bottom: 0;
    padding: 20px;
}

footer#page-footer p {
    color: #fff;
    margin: 0;
}
